{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'home/images/favicon-32x32.png' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'home/main.css' %}">
    {% if title %}
    <title>CodePanda - {{ title }}</title>
    {% else %}
    <title>CodePanda</title>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</head>

<body class="container-bg">
    <header>
        <a href= "/"><img class="logo" src="{% static 'home/images/logo-cropped.png' %}" alt="logo"></a>
        <nav>
            <ul class="nav_links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
            <!-- <form class = "d-flex" method="POST" action="{% url 'search-title' %}">
                {% csrf_token %}
                <input name="searched" class ="form-control me-2" type="search" placeholder="search title">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form> -->
        </nav>
    </header>


    <div class="container-bg">
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-9">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{message.tags}}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-3">
                {% if user.is_authenticated %}
                <div class="content-section">
                    <p class='text-muted d-flex justify-content-center'>Hot Stuff
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-dark">Popular Questions</li>
                        <li class="list-group-item list-group-item-dark">Top Users</li>
                        <li class="list-group-item list-group-item-dark">Announcements</li>
                    </ul>
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </main>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</body>

</html>