{% extends "home/base.html" %}
{% block content %}
<h1>Questions asked by this user ({{ page_obj.paginator.count }})</h1>
{% for question in object_list %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ question.user_ques.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2 article-title" href="{% url 'question-detail' question.id %}">{{ question.title }}</a>
            <small class="text-muted mt-2">Posted by {{ question.user_ques | title }}</small>
            <small class="text-muted date">{{ question.date_posted | date:"F d, Y" }}</small>
        </div>

        <p class="article-content">{{ question.question }}</p>
        {% for tag in question.tags_ques %}
            <a class="btn btn-primary" href="#" role="button">{{ tag }}</a>
        {% endfor %}

        {% for answer in question.answer_set.all %}
        <article class="media">
            <img class="rounded-circle article-img" src="{{  answer.user_ans.profile.image.url  }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ answer.user_ans|title }}</a>
                    <small class="text-muted date">{{ answer.date_posted | date:"F d, Y" }}</small>
                </div>

                <div class="row mt-3">
                    <div class="col-md-1 arrow-style">
                        <i class="fa fa-arrow-up"></i>
                        <span>{{ answer.votes }}</span>
                        <i class="fa fa-arrow-down"></i>
                    </div>

                    <article class="media answer-section col-md-11">
                        <pre class="prettyprint pp">{{ answer.answer }}</pre>
                    </article>

                </div>

        </article>
        {% endfor %}
    </div>
</article>

{% endfor %}
{% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}