@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css");

* {
  /* box-sizing: border-box;
  margin: 0;
  padding: 0; */
  background-color: #24252A;
  color: #edf0f1;
  font-family: "Montserrat", sans-serif;
}

li, a, button, p {
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  margin-top: auto;
  height: 50px;
  width: auto;
  cursor: pointer;
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.nav_links li a:hover {
  color: #0088a9;
}

.post-button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

.post-button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* h1, h2, h3, h4, h5, h6 {
    color: #444444;
  } */

.container-bg {
  background: #24252A;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #24252A;
}

.site-header {
  color: #cbd5db;
}

.site-header:hover {
  color: #ffffff;
}

.site-header {
  font-weight: 500;
}

.content-section {
  background: #24252A;
  padding: 10px 20px;
  border: 1px solid rgba(0, 136, 169, 1);
  border-radius: 3px;
  margin-bottom: 20px;
}

.answer-section {
  background: #24252A;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.article-title {
  font-size: 150%;
  color: #edf0f1;
  margin-bottom: auto;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  margin-top: 10px;
  white-space: pre-line;
}


.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  display: flex;
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #428bca;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.pp {
  color: white;
}

.date {
  margin-top: auto;
  margin-left: auto;
}

.arrow-style {
  font-size: 20px;
  color:#606060;
  text-align: center;
}

a.btn.btn-primary {
  margin-left: 0px;
  margin-bottom: 15px;
  border-radius: 20px;
  font-size: 12px;
}

.voting {
  font-size: 20px;
}

.voting i:hover {
  color: #428bca;
  text-decoration: none;
}

.searchbar {
  width: 300px;
  height: 50px;
  border: 1px solid;
}

.top-bar {
  list-style: none;
  border: 1px solid;
  align-items: center;
  margin-bottom: 20px;
}

.top-bar-contents {
  justify-content: start;
  align-items: center;
}